<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.gatchaz.server.common.security.swagger.SwaggerAccountMapper">

    <select id="selectByUsername" resultType="dk.gatchaz.server.common.security.swagger.SwaggerAccountInfo">
        SELECT
            username,
            password
        FROM swagger_account
        WHERE username = #{username}
          AND use_yn = 'Y'
    </select>

</mapper>
